
<% include shared/header.ejs %>

    <!--================-->
    <div class="main">
        <div class="side">
            <h2>我的</h2>
            <ul class="menu">
                <li>
                    <em class="t20"></em><a href="#">我的信息</a>
                </li>
                <li>
                    <em class="t23 "></em><a href="#">我发布的任务</a>
                </li>
            </ul>
            <h2>微广告</h2>
            <ul class="menu">
                <li>
                    <em class="t7"></em><a href="#">广告联盟</a>
                </li>
            </ul>

        </div>



        <div class="content monitor">

            <div class="menu">
                <a class="cateitem selected" href="http://www.weizhishu.com/monitor/account#"
                   data-gid="">全部</a>
                <!--<span>时间范围
                    <input type="text" id="daterange" />
                    <em class="arrow-top"></em>
                </span>-->
                <input id="dataTime" type="hidden">
                <div class="datepickerPanel">
                    <input id="daterangepicker" type="text">
                    <a class="select" href="http://www.weizhishu.com/monitor/account#">最近一天</a>
                    <div class="drop-down">
                        <a href="http://www.weizhishu.com/monitor/account#"
                           data-value="2">最近一天</a><a href="http://www.weizhishu.com/monitor/account#"
                                                     data-value="3">过去7天</a><!--                    <a data-value="1" href="#">今天</a>--> <!--                    <a href="javascirpt:void(0);" class="customdate">自选</a>-->
                    </div>
                </div>
            </div>
            <div class="tl" id="accountList">
                <table>
                    <thead>
                        <tr>
                            <th>微信号</th><!--th>ID</th-->
                            <th class="up" data-name="accountlist" data-rank="1">
                                推送次数<em class="arrow-top"></em><em class="arrow-bottom"></em>
                            </th>
                            <th class="up" data-name="accountlist" data-rank="2">
                                推送条数<em class="arrow-top"></em><em class="arrow-bottom"></em>
                            </th>
                            <th class="up" data-name="accountlist" data-rank="3">
                                头条平均阅读<em class="arrow-top"></em><em class="arrow-bottom"></em>
                            </th>
                            <th class="up" data-name="accountlist" data-rank="4">
                                头条平均点赞<em class="arrow-top"></em><em class="arrow-bottom"></em>
                            </th>
                            <th class="up" data-name="accountlist" data-rank="5">点赞率</th><!--<th data-rank="6" data-name="accountlist" class="down">粉丝数(约)<em class="arrow-top"></em><em class="arrow-bottom"></em></th>-->

                            <th class="up" data-name="accountlist" data-rank="7">
                                排名<em class="arrow-top"></em><em class="arrow-bottom"></em>
                            </th>
                            <th data-name="accountlist" data-rank="8">指数得分</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

        </div>
    </div>
<% include shared/footer %>