<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href='register'>zhuce</a>
    <p>
    <a href='login'>denglu</a>
    <p>
    <a href='shop'>shop's Info</a>
    <p>
    <a href='reviewer'>shua ke's Info</a>
  </body>
</html>
