<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href='shopregister'>dianpu zhuce</a>
    <p>
    <a href='reviewer/register'>register</a>
    <p>
    <p>
    <a href='reviewer/login'>login</a>
    <p>
    <p>
    <a href='shop/upload'>shop upload</a>
    <p>
     <p>
    <a href='shop/tasklist'>task list</a>
    <p>
    <a href='shoplogin'>dianpu denglu</a>
    <p>
    <a href='reviewerlogin'>shuake denglu</a>
    <p>
    <a href='shop'>shop's Info</a>
    <p>
    <a href='reviewer'>shua ke's Info</a>
  </body>
</html>
     