  .info_detail h3{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 20px;
	background: url(../images/title_boot.png) no-repeat center bottom;
}
.the_basic{ float: left; width: 806px;  height: auto; padding-bottom: 20px; border: 1px solid #eeeeee; font-family: "微软雅黑";}
.the_basic span{ font-size:14px!important;}
.the_basic i{ float: left; width: 786px;height: 50px; margin-left: -1px; line-height: 50px; padding-left: 20px; background: #e5f4fc; font-style:normal;color:#333;font-size: 16px; border: 1px solid #cbdfec;position: relative;}
.payment{
    width:94%;
    margin-left: 3%;
    height:80px;
    margin-bottom:10px;
    overflow:hidden;
    border-bottom: 1px dashed #EEEEEE;
}
.payment strong{
    font-size:18px;
    line-height:80px;
    text-indent:30px;
    padding:1em;
}
.payment button{
    float:right;
    font-size:16px;
    background:#ff6b1b;
    width:105px;
    height:45px;
    /*margin-left:25em;*/
    margin:20px 10px 0 0;
    display:inline-block;
    line-height:38px;
    text-align:center;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    border:1px solid #E86016
}
.info_detail table td{
    color: #474747;
    height: 42px;
}
.in_de_right
{
clear:both;
width:100%;
margin-bottom:40px;
}
.in_de_right a{
    display: block;
	
	margin-left:15px;
    width: 70px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background: #12a3d9;
    border: 1px solid #12a3d9;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}
.in_de_right .edit_info,.in_de_right .change_psw
{
margin-left:100px;
float:left;
}