<div class="side">
    <h2>我的</h2>
    <ul class="menu">
        <li>
            <em class="t20"></em><a href="account">账户资金</a>
        </li>
        <li>
            <em class="t23"></em><a href="userinfo">个人资料</a>
        </li>
        <li>
            <em class="t23"></em><a href="completedtask">完成任务</a>
        </li>
    </ul>
    <h2>任务</h2>
    <ul class="menu">
        <li>
            <em class="t7"></em><a href="dotask">执行任务</a>
        </li>
    </ul>
</div>