<!DOCTYPE html>
<!DOCTYPE html PUBLIC "" "">
<html lang="zh_CN">
<head>
    <meta content="IE=11.0000"
          http-equiv="X-UA-Compatible">

    <meta charset="UTF-8">
    <title>微指数_新媒体大数据领导者</title>

    <link href="/img/favicon.ico" rel="icon" type="image/png">
    <link href="../css/pubstyle.css"
          rel="stylesheet">
    <link href="../css/login.css" rel="stylesheet">

    <meta name="GENERATOR" content="MSHTML 11.00.9600.18450">
</head>
<body>
    <div class="head">
        <div class="head_content">
            <a href="/">
                <img alt="logo"
                     src="../images/logo_title.png" />
            </a>
        </div>
    </div>
    <div class="content">
        <div class="con_msg">
            <div class="con_title">
                <img alt="登录" src="../images/login.png" />
            </div>
            <div class="con_ipt">
            <div style="text-align:center">
               <% if (success) { %>
                <div><%= success %></div>
                <% } %>
                <% if (error) { %>
                <div><%= error %> </div>
                <% } %>
                </div>
              <form method="post">
                    <div id="tip"></div>
                    <div class="group_ipt">
                        <em></em>                
                            <input name="username" type="text" maxlength="20" placeholder="请输入用户名" value="" />
                    </div>
                    <div class="group_ipt">
                        <em></em>
                        <input name="userpassword" type="password" maxlength="20" placeholder="请输入密码6-20位" value="" />
                    </div>

                    
                    <button class="login-btn" id="submit" type="submit">
                        登录
                    </button>             
                        <span>获取微指数账号？ <a href="register">点此注册</a></span>
              </form>
            </div>
            <div class="con_footer">
                <div class="check">
                    <input name="autologin" id="autologin" type="checkbox"
                           checked="checked" />            
                         <img src="images/check.png">
                </div>
                <span>
                    下次自动登录 <a href="#">忘记密码?</a>
                </span>
            </div>
        </div>
    </div>
  <% include ../shared/footer %>
</body>
</html>
