<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta content="IE=11.0000"
          http-equiv="X-UA-Compatible">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="referrer" content="always">
    <meta name="theme-color" content="#2932e1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>好评帮</title>

    <link href="/img/favicon.ico" rel="icon" type="image/png">
    <link href="../css/style.css"
          rel="stylesheet">
   
    <meta name="GENERATOR" content="MSHTML 11.00.9600.18450">
</head>
<body class="page">
    <div class="header">
        <div class="top">
            <a class="logo" href="#">
                <img alt="微指数"
                     src="images/logo_title.png">
            </a>           
            <!--tip end-->
        </div>
    </div>
<div id="regContainer" class="text-center">
    <form method="post">
      <input type="text" name="username" required="" placeholder="请输入用户名"/><br />
          <input type="password" name="userpassword"  required="" placeholder="请输入密码"/><br />
      <input type="password" name="password_repeat" required="" placeholder="请输入确认密码"/><br />
          <input type="email" name="useremail" placeholder="请输入邮箱"/><br /><br />
              <input type="submit" name="submit" value="注册"/>
    </form>
</content>
<%- include ../shared/footer %>